# Broker node name
node_name = "mqtt-broker-1";

# Plain TCP listeners
tcp_listeners = (
{
	port = 1882;
	bind = "0.0.0.0"; 
});

# SSL connection listeners
ssl_listeners = (
{
	port = 1884;
	bind = "0.0.0.0"; 
	ca_cert_file = "config/cert/ca.crt";
	server_cert_file = "config/cert/server.crt";
	server_key_file = "config/cert/server.key";
	verify_peer = false;
});

# IO workers
io_worker_pool = {
	min_size = 1;
	max_size = 3;
};
